@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body{
    background: url("./images/pattern-background-desktop.svg") repeat-x;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
main{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#header{
    border-radius: 10px 10px 0px 0px;
    width: 350px;
}

section{
    border: 1px grey hidden;
    text-align: center;
    max-width: 350px;
    height: 600px;
    border-radius: 10px;
    color: rgb(78, 84, 109);
    background-color: white;
    margin-top: 30px;
    box-shadow:  2px 5px 20px hsl(223, 56%, 91%);
}
h2{
    font-weight: 900;
    color: black;
}
#price{
    border: 1px solid hidden;
    margin: 30px;
    border-radius: 10px;
    max-width: 320px;
    height: 90px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(210, 230, 247, 0.315);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#music{
    margin: 0;
    margin-top:15px;
}
#plan{
    display: inline-block;
    margin-left: 10px;
}
span{
    color: black;
    font-weight: bold;
}    
    
#change{
    color:hsl(245, 75%, 52%) ;
    font-weight: 600;
}
#change:hover{
    color:  hsl(220, 26%, 43%);
    text-decoration: none;
}
 button:hover{
   background-color:   hsl(224, 33%, 45%);
}
button{
    width: 320px;
    height: 50px;
    background-color:hsl(245, 75%, 52%);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    border: hidden;
    margin: 20px;
    box-shadow: 0px 12px 20px hsl(224, 63%, 80%);
}
#cancel{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(78, 84, 109)
}
#cancel:hover{
    color: black;
    font-weight: bold;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 50px;
}
.attribution a { color: hsl(228, 45%, 44%); }